* {
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 110%;
}
#root {
  text-align: center;
}

.calc-title {
  font-size: 30px;
  background: white;
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4caf50;
  border: 2px solid black;
  border-radius: 5px;
}

.main-calc {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 0px;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

input[type="text"] {
  width: 400px;
  color: #222;
  background-color: #ddd;
  text-align: right;
  padding: 10px;
  border: none;
}

input[type="button"] {
  width: 100px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background: #4caf50;
  color: white;
  padding: 10px 20px;
  border: 1px solid #222;
  border-radius: 4px;
}

input[type="button"]:active {
  color: #ccc;
}

/* media query */
@media (max-width: 430px) {
  .calc-title {
    font-size: 20px;
    width: 300px;
    padding: 5px 5px;
  }

  input[type="button"] {
    width: 75px;
    font-size: 14px;
  }

  input[type="text"] {
    width: 300px;
  }
}
